<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <uiGetGoals>
        <processor type="Sitecore.Analytics.MultiSite.Pipelines.ProcessGoalsRules, Sitecore.Analytics.MultiSite" />
      </uiGetGoals>

      <uiGetProfiles>
        <processor type="Sitecore.Analytics.MultiSite.Pipelines.ProcessProfilesRules, Sitecore.Analytics.MultiSite" />
      </uiGetProfiles>
    </pipelines>
    
    <commands>
      <command name="analytics:opengoals" type="Sitecore.Analytics.MultiSite.Client.OpenGoals, Sitecore.Analytics.MultiSite"
               patch:instead="command[@name='analytics:opengoals']"/>
    </commands>
  </sitecore>
</configuration>